@import '../../styles/colors', '../../styles/config';

$font: 'Montserrat', Arial, sans-serif;

.datepicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  margin: auto;
}

.row {
  width: 50%;
}
