<mat-toolbar color="primary">
  <span routerLink="/">Neustar Order Insights Dashboard</span>
  <span class="spacer"></span>

  <div fxFlex class="search-box-wrap">
    <!-- TODO: replace placeholder text -->
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchService.search"
      (ngModelChange)="searchService.searchInput$.next(searchService.search)"
    />
    <button mat-icon-button (click)="searchService.clearSearch()">
      <mat-icon *ngIf="!searchService.search">search</mat-icon>
      <mat-icon *ngIf="!!searchService.search">close</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button routerLink="/tracker-mapping" mat-menu-item>Add new tracker mapping</button>
    <button routerLink="/tracker-mapping-list" mat-menu-item>Edit existing tracker mapping</button>
    <button routerLink="/upload-tracker" mat-menu-item>Upload tracker</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
