// DEFINE BRAND COLORS
$core-blue: #0d62ff;
$navy: #112f64;
$sky-blue: #8de1fa;
$lemon: #f9ec55;
$mint: #7dedb5;
$lilac: #a89fff;

// DEFINE NEUTRAL COLORS
$white: #ffffff;
$grey: #354257;
$dark-grey: #191919;
$black: #000000;
