.page-wrap {
  padding: 24px;
  position: relative;
}

.page-header {
  margin-bottom: 32px;
}

.page-title {
  font-size: 20px;
  font-weight: 400;
  color: $navy;
}

.page-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: $lilac;
  margin-top: 4px;
}

.status-badge {
  position: relative;

  &::before {
    content: '\A';
    position: relative;
    top: -1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
  }

  &.Completed {
    color: #649a2b;
    &::before {
      background: #649a2b;
    }
  }

  &.In_Progress {
    color: #f19634;
    &::before {
      background: #f19634;
    }
  }

  &.Not_Started {
    color: #979797;
    &::before {
      background: #979797;
    }
  }
}

.pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.mat-elevation-z8 .mdc-data-table__header-cell {
  font-weight: 700;
  color: $core-blue;
}
