.page-wrap {
  margin: 24px;
  position: relative;
}

.status-badge {
  position: relative;

  &::before {
    content: '\A';
    position: relative;
    top: -1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
  }

  &.Completed {
    color: #649a2b;
    &::before {
      background: #649a2b;
    }
  }

  &.In_Progress {
    color: #f19634;
    &::before {
      background: #f19634;
    }
  }

  &.Not_Started {
    color: #979797;
    &::before {
      background: #979797;
    }
  }
}

.pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}
