<div class="page-wrap">
  <div class="mb-3">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      matSort
      matSortActive="carrier"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="carrier_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Carrier</th>
        <td mat-cell *matCellDef="let element">{{ element.carrier_id }}</td>
      </ng-container>
      <ng-container matColumnDef="tracker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Tracker</th>
        <td mat-cell *matCellDef="let element">{{ element.tracker }}</td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><div class="d-flex justify-content-end">Delete</div></th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-end">
            <button mat-icon-button (click)="deleteTrackerMapping(element); $event.stopPropagation()">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        class="pointer"
        *matRowDef="let element; columns: displayedColumns"
        [routerLink]="['/tracker-mapping', element.carrier_id, element.tracker]"
      ></tr>
    </table>
  </div>

  <mat-paginator #paginator [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  <div class="d-flex justify-content-end mt-4">
    <button mat-raised-button color="primary" routerLink="/tracker-mapping">Add New Tracker Mapping</button>
  </div>
</div>
