<div class="page-wrap">
  <app-back-link *ngIf="isEdit" defaultBackTo="/" style="justify-content: left"></app-back-link>

  <ng-container *ngIf="!succeeded">
    <ng-container *ngIf="sheetNames?.length; else importButton">
      <form [formGroup]="trackerForm" class="form-wrap">
        <div class="page-header">
          <div class="page-title">Map Fields</div>
          <div class="page-subtitle">Fields with an asterisk (*) are required</div>
        </div>
        <div fxLayout="row wrap mt-4" fxLayoutAlign="space-between start">
          <div *ngFor="let field of fields" fxFlex="49%" class="form-field-wrap">
            <mat-form-field fxFlex appearance="outline" color="primary">
              <mat-label>{{ field.label }}</mat-label>

              <input *ngIf="field.isInput" type="text" [formControlName]="field.key" matInput />
              <ng-container [ngSwitch]="field.key">
                <ng-container *ngSwitchCase="'sheet'">
                  <mat-select
                    *ngIf="!field.isInput"
                    [formControlName]="field.key"
                    (selectionChange)="handleChangeSheet()"
                  >
                    <mat-option *ngFor="let item of sheetNames" [value]="item">
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </ng-container>
                <ng-container *ngSwitchCase="'header_row'">
                  <input type="number" [formControlName]="field.key" (change)="handleChangeHeaderRow()" matInput />
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <mat-select *ngIf="!field.isInput" [formControlName]="field.key">
                    <mat-option *ngFor="let item of headers" [value]="item.value">
                      {{ item.label }}
                    </mat-option>
                  </mat-select>
                </ng-container>
              </ng-container>

              <mat-error *ngIf="trackerForm.get(field.key).getError('required')">Required</mat-error>
              <mat-error *ngIf="trackerForm.get(field.key).getError('pattern')">Invalid format</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div fxLayout="row" fxLayoutAlign="space-between" class="submit-wrap">
        <button *ngIf="!isEdit" mat-raised-button (click)="cancel()">Cancel</button>
        <button *ngIf="isEdit" mat-raised-button routerLink="/tracker-mapping-list">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">{{ isEdit ? 'Save' : 'Submit' }}</button>
      </div>
    </ng-container>

    <ng-template #importButton>
      <div *ngIf="!isEdit">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Tracker</button>
      </div>
    </ng-template>
  </ng-container>

  <div *ngIf="succeeded" class="success-wrap">
    <div class="title">Tracker Mapping Complete</div>
    <div class="description">New tracker mapping saved</div>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16">
      <button mat-raised-button color="primary" (click)="cancel()">Add Another Tracker</button>
      <button mat-raised-button color="primary" routerLink="/tracker-mapping-list">View Tracker Mappings</button>
      <button mat-raised-button color="primary" routerLink="/fallout">Return to Fallout</button>
    </div>
  </div>
</div>

<input #fileInput type="file" (change)="onFileChange($event)" accept=".xlsx" class="d-none" />
