@import '../../../../styles/colors', '../../../../styles/config';

.success-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30vh;
  font-size: 20px;
  color: $grey;

  .title {
    font-size: 24px;
    color: $navy;
    margin-bottom: 16px;
    font-width: 700;
  }

  .description {
    margin-bottom: 48px;
  }
}

.form-wrap {
  margin-top: 24px;
}

.submit-wrap {
  margin-top: 24px;
}

.form-field-wrap {
  margin-bottom: 16px;
}
